body{
    background-color: rgb(178, 178, 206);
}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;   
}

h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

input{
    margin: 5px 5px;
    border-radius: 5px;
    font-size: 15px;
}

button{
    background-color: rgb(201, 187, 187);
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(124, 115, 115);
}

.card {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;

}